<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="root">
        <div class="page">
            <div class="page__part">
                <div class="header">
                    <a class="header__logo" href="/"></a>
                    <a class="header__email" href="mailto:name@surname.com">
                        name@surname.com
                    </a>
                </div>

                <div class="main-content">
                    <div class="main-content__content">
                        We are crypto etc based in RUS Somewhere—working internation to design iconic brands and digit experiences with focus on what’s essential. Why essential?
                    </div>
                    <div class="link">
                        <div class="link__text">
                            Work with us
                        </div>
                        <div class="link__icon link__icon_right">
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.29325 0.293239C-0.0977499 0.684238 -0.0977499 1.31624 0.29325 1.70724L4.58625 6.00024L0.29325 10.2932C-0.09775 10.6842 -0.09775 11.3162 0.29325 11.7072C0.68425 12.0982 1.31625 12.0982 1.70725 11.7072L6.70725 6.70724C6.90225 6.51224 7.00025 6.25624 7.00025 6.00024C7.00025 5.74424 6.90225 5.48824 6.70725 5.29324L1.70725 0.293239C1.31625 -0.0977611 0.68425 -0.0977611 0.29325 0.293239Z" fill="white"/>
                            </svg>
                        </div>
                    </div>
                </div>

        </div>
            <img class="video" src="/res/img/lao.jpg" />
    </div>
</body>
</html>
