.page {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__part {
        display: flex;
        flex-direction: column;
        padding: 10rem 10rem 10rem;
        height: 100vh;
        overflow: hidden;
    }
}
