<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class=";lkj"></div>
    <div id="root">
        <div class="page">
            <div class="page__part">
                <a class="logo" href="/"></a>
                <h1 class="page__title">
                    Artistic Practice for Experimental Design
                </h1>
                <div class="page__video">
                    <img class="video" src="/res/img/lao.jpg" />
                </div>
            </div>
            <div class="page__part">

                <div class="main-content">
                    <h2 class="main-content__title">
                        About
                    </h2>
                    <p class="main-content__content">
                        Crypto etc based in rus somewhere — working internation to design iconic brands and digit experiences with focus on what’s essential. Why essential?

                    </p>
                    <p class="main-content__content">
                        Please, use a form or drop us a line at <a class="main-content__link" href="mailto:name@surname.com">name@surname.com</a>
                    </p>

                    <p class="main-content__content">
                        And we are also registered at <a class="main-content__link" href="/">Duns</a>
                    </p>
                </div>
            </div>
            <div class="page__info page__info_bottom">
                <div class="info">
                    <div class="info__inner info__inner_gray info__inner_50">
                        About
                    </div>
                    <div class="info__inner info__inner_blue info__inner_50">
                        Work with us
                    </div>
                </div>
            </div>

    </div>
    </div>
</body>
</html>
