<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="root">
        <div class="page">
            <div class="page__part">

                <div class="link">
                    <div class="link__icon link__icon_left">
                        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.70577 11.7072C7.09677 11.3162 7.09677 10.6842 6.70577 10.2933L2.41277 6.00025L6.70577 1.70725C7.09677 1.31625 7.09677 0.68425 6.70577 0.29325C6.31477 -0.09775 5.68277 -0.09775 5.29177 0.29325L0.291773 5.29325C0.0967732 5.48825 -0.00122636 5.74425 -0.00122635 6.00025C-0.00122635 6.25625 0.0967732 6.51225 0.291773 6.70725L5.29177 11.7072C5.68277 12.0982 6.31477 12.0982 6.70577 11.7072Z" fill="white"/>
                        </svg>
                    </div>
                    <div class="link__text">
                        Back to main
                    </div>
                </div>

                <ul class="vacancies-list">
                   <li class="vacancy-item">
                       <span class="vacancy-item__name">Product manager (Tech lead)</span>
                       <span class="vacancy-item__descr">FULL-TIME / OFFICE</span>
                   </li>
                    <li class="vacancy-item">
                        <span class="vacancy-item__name">Middle back-end developer (Node.JS)</span>
                        <span class="vacancy-item__descr">FULL-TIME / OFFICE</span>
                    </li>
                    <li class="vacancy-item">
                        <span class="vacancy-item__name">Middle back-end developer (C/C++)</span>
                        <span class="vacancy-item__descr">FULL-TIME / OFFICE</span>
                    </li>
                    <li class="vacancy-item">
                        <span class="vacancy-item__name">Middle Firmware developer (C/C++)</span>
                        <span class="vacancy-item__descr">FULL-TIME / OFFICE</span>
                    </li>
                </ul>
            </div>
            <div class="page__video">
                <img class="video" src="/res/img/lao.jpg" />
            </div>
    </div>
</body>
</html>
