@font-face {
    font-family: 'Gilroy';
    src: url('../../res/fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
    url('../../res/fonts/Gilroy/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
